[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Application Crash Reports for Android
[access "refs/*"]
	owner = group user/Johnson (wujichang)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Johnson (wujichang)
	label-Verified = -1..+1 group user/Johnson (wujichang)
	push = group user/Johnson (wujichang)
	read = group user/Johnson (wujichang)
	rebase = group user/Johnson (wujichang)
	removeReviewer = group user/Johnson (wujichang)
	submit = group user/Johnson (wujichang)
[access "refs/heads/*"]
	create = group user/Johnson (wujichang)
	push = +force group user/Johnson (wujichang)
	pushMerge = group user/Johnson (wujichang)
	read = group user/Johnson (wujichang)
[access "refs/tags/*"]
	push = group user/Johnson (wujichang)
	push = +force group user/Johnson (wujichang)
